.header {
  background-color: #010010;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  // max-width: 1200px;

  // .container {
  // display: flex;
  // justify-content: space-between;
  // margin: 0 auto;
  // max-width: 1200px;
  // }

  .img {
    padding-block: 9px;
  }

  .rightside {
    display: flex;
    justify-content: space-between;
    gap: 130px;

    .nav {
      height: 100%;

      &_list {
        height: inherit;
        display: flex;
        gap: 31px;
        align-items: center;
        color: #e9eeee;
      }

      &_link {
        display: flex;
        text-decoration: none;
        color: #e9eeee;
      }
    }

    .logos {
      display: flex;
      gap: 16px;
      align-items: center;

      .lang {
        display: flex;
        gap: 4px;
        align-items: center;
        cursor: pointer;

        &_icon {
          background-image: url(../../../public/img/icons/us-flag.svg);
          background-repeat: no-repeat;
          background-position: center;
          height: 24px;
          width: 24px;
        }

        &_arrow {
          background-image: url(../../../public/img/icons/arrow.svg);
          background-repeat: no-repeat;
          background-position: center;
          height: 24px;
          width: 24px;
        }
      }

      .like {
        background-image: url(../../../public/img/icons/heart.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 24px;
        width: 24px;
        cursor: pointer;
      }

      .right {
        display: flex;
        gap: 8px;
        border: 1px solid #bababa;
        border-radius: 12px;
        padding: 8px 16px;

        .menu {
          background-image: url(../../../public/img/icons/list.svg);
          fill: #bababa;
          background-repeat: no-repeat;
          background-position: center;
          height: 24px;
          width: 24px;
          cursor: pointer;
        }

        .account {
          position: relative;
          background-image: url(../../../public/img/icons/account.svg);
          background-repeat: no-repeat;
          background-position: center;
          height: 24px;
          width: 24px;
          cursor: pointer;

          &_active {
            position: absolute;
            cursor: default;
            width: 180px;
            padding: 13px;
            top: 60px;
            right: -30px;
            background-color: #fff;
            border: 1px solid #dee2e6;
            box-shadow: 0 4px 4px 0 #00000040;
            border-radius: 12px;

            .login {
              all: unset;
              display: flex;
              align-items: center;
              gap: 8px;
              width: 100%;
              cursor: pointer;

              &_icon {
                background-image: url(../../../public/img/icons/login.svg);
                background-position: center;
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
              }

              &_text {
                //styleName: Secondary text;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}
