.work-with-us {
  display: flex;
  flex-direction: column;
  gap: 64px;

  .start {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #d6e7ef;
    height: 480px;
    border-end-end-radius: 200px;
    border-end-start-radius: 200px;

    &_content {
      max-width: 1224px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_img {
      width: 416px;
      height: 455px;
      object-fit: contain;
    }

    &_description {
      display: flex;
      flex-direction: column;
      gap: 32px;
      text-transform: uppercase;

      &-1 {
        //styleName: H1;
        font-family: Libre Baskerville;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        text-align: left;
      }

      &-2 {
        //styleName: H4;
        font-family: Libre Baskerville;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
      }

      &-3 {
        //styleName: H5;
        font-family: Libre Baskerville;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #4a5354;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .title {
      //styleName: H4;
      font-family: Libre Baskerville;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      color: #000;
    }

    .center {
      display: flex;
      gap: 24px;
      justify-content: space-between;

      .form {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .block {
          width: 392px;
          display: flex;
          flex-direction: column;
          gap: 32px;

          &_title {
            //styleName: H5;
            font-family: Libre Baskerville;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-transform: uppercase;
          }

          &_fields {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .field {
              display: flex;
              flex-direction: column;
              gap: 8px;

              .label {
                //styleName: Secondary text;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: #4a5354;

                .star {
                  color: #ed4c5c;
                }
              }

              .input {
                all: unset;
                border: 1px solid #010010;
                border-radius: 10px;
                height: 40px;
                padding: 8px 16px;
                line-height: 40px;

                &::placeholder {
                  //styleName: Main text;
                  font-family: Poppins;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 26px;
                  color: #bababa;
                }
              }

              .textarea {
                height: 165px;
                word-wrap: break-word;
                line-height: 24px;
              }
            }

            .button {
              all: unset;
              background-color: #275da4;
              color: #e9eeee;
              padding-block: 8px;
              height: 56px;

              //styleName: Button text;
              font-family: Poppins;
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              text-align: center;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
