.footer {
  margin-top: 64px;
  background-color: #010010;
  padding: 24px 109px 29px;

  &_content {
    display: flex;
    justify-content: space-between;
    height: 224px;

    .leftside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .contacts {
        display: flex;
        flex-direction: column;

        .contact {
          display: flex;
          flex-direction: column;
          //styleName: Main text;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: left;

          &_reason {
            color: #ffffff;
          }

          &_email {
            color: #bababa;
          }
        }
      }

      .info {
        display: flex;
        gap: 24px;

        &_item {
          //styleName: Secondary text;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: #bababa;
        }
      }
    }

    .rightside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;

      .logo {
        width: 164px;
        height: 72px;
      }

      .socials {
        display: flex;
        align-items: center;
        gap: 20px;

        .social {
          width: 32px;
          height: 32px;

          &_link {
            display: flex;
          }
        }
      }
    }
  }
}
