@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a,
img {
  display: flex;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input:disabled {
  color: #bababa;
}

button:disabled {
  background-color: #9fcfe8;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #010010;
  background-color: #e9eeee;
}
